<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<Title>About US</Title>
<link rel="stylesheet" href="lib/bootstrap-3.3.7/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="lib/font-awesome-4.7.0/css/font-awesome.css"/>
<link rel="stylesheet" href="About.css">
<script src="lib/jQuery.js"></script>
<script src="lib/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

</html>

<body>

  <div class="row nav-barcus">
    <div class="container">
      <div class="col-md-12 nav-barcus2">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="col-md-3 navbar-header">
              <img src="img/Asset 4 1.png" alt="">
            </div>
            <ul class="nav navbar-nav">
              <li><a class="nav-linkpage" href="Home">HOME</a></li>
              <li><a class="nav-linkpage" href="#">HOT TRENDS</a></li>
              <li><a class="nav-linkpage" href="NewCollection">newcollections</a></li>
              <li class="active"><a class="nav-linkpage" href="About">about</a></li>
            </ul>
            <div class="col-md-3 text-center">
              <input type="text" />
              <a><i class="glyphicon glyphicon-search"></i></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <img src="img/Rectangle_19_2.png" alt="" width="1440px" height="711px">
    </div>
  </div>
  <br><br><br>

  <div class="row">
    <img src="" alt="">
  </div>

  <div class="row text-center">
    <img class="jv1" src="img/Layer 1.png" alt="" width="344px" height="84px">
  </div>

  <div class="row text-center contentheader">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-wrap">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum</p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <div class="line-footer"></div>
  </div>


  <div class="row contentrow">
    <div class="col-md-6">
      <img src="img/Rectangle 20 (12).png" alt="" width="705px" height="438px">
    </div>
    <div class="col-md-6 text-center">
      <div class="text-wrap contenttextcenter jv3">
        <h3><b>Simple Summer Looks</h3></b>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="text-wrap jv4">
        <h3><b>Simple Summer Looks</h3></b>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised
      </div>
    </div>
    <div class="col-md-6">
      <img src="img/Rectangle 21 (3).png" alt="" width="705px" height="438px">
    </div>
  </div>
  <br><br>  

  <div class="row">
    <div class="col-md-12 av1">
      <h3>RECENT POSTS</h3>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-3">
      <div class="col-md-12">
        <img src="img/Rectangle 20 (6).png" alt="" width="305px" height="340px">
      </div>
      <div class="col-md-12 av2">
        <p><b> Lorem Ipsum is simply dummy text of the printing and typesetting</b></p>
        <p>On July 13, 2020</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">
        <img src="img/Rectangle 20 (7).png" alt="" width="305px" height="340px">
      </div>
      <div class="col-md-12 av2">
        <p><b> Lorem Ipsum is simply dummy text of the printing and typesetting</b></p>
        <p> On July 13, 2020</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">
        <img src="img/Rectangle 20 (8).png" alt="" width="305px" height="340px">
      </div>
      <div class="col-md-12 av2">
        <p><b> Lorem Ipsum is simply dummy text of the printing and typesetting</b></p>
        <p> On July 13, 2020</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">
        <img src="img/Rectangle 20 (9).png" alt="" width="305px" height="340px">
      </div>
      <div class="col-md-12 text-wrap av2">
        <p><b> Lorem Ipsum is simply dummy text of the printing and typesetting</b></p>
        <p> On July 13, 2020</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 av3">
        <h3> TAGS </h3>
        <br>
        <div class="col-md-12">
          <ul class="list-tag">
            <li>summer collection</li>
            <li>winter collection</li>
            <li>colorfull t-shirt</li>
            <li>personal style</li>
            <li>trip</li>
            <li>streets</li>
            <li>inspiration</li>
            <li>toe design cut-out</li>
            <li>purple</li>
            <li>review</li>
            <li>colorfull</li>
          </ul>
         
        </div>
      </div>
      <div class="col-md-6">
        <h3> CATEGORIES </h3>
        <div class="col-md-6 categories">
            <img src="img/Rectangle 20 (5).png">
            <a>Shopping</a>
        </div>
        <div class="col-md-6 categories">
          <img src="img/Rectangle 21.png">
          <a>Wedding</a>
        </div>
      </div>
    </div>
    <div class="row">
   </div>
  </div>

  <div class="footer">
    <div class="container">
       <div class="row">
                  <div class="col-md-8 col-md-offset-1"></div>
              </div>
              <img class="logo-footer" src="img/Asset 4 1.png" />
              <h4 class="text-footer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</h4>
              <div class="text-center">
                  <a class="btn-footer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a class="btn-footer"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a class="btn-footer"><i class="fa fa-behance" aria-hidden="true"></i></a>
              </div>
    </div>
  </div>








  <!--   
  <div class="row">
    <div class="col-md-7">
      <img src="img/Rectangle 20 (12).png" alt="" width="705px" height="438px">
    </div>
    <div class="col-md-5">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum </p>
    </div> -->


  <!--  
  <div class="row">
    <div class="col-md-6">
      <h3><b>Simple Summer Looks</b></h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised</p>
    </div>
    <div class="col-md-6">
      <img src="img/Rectangle 21 (3).png" alt="" width="705px" height="438px">
    </div>
  </div> -->

  <!--  
  <div class="row jv7">
    <h2>RECENT POSTS</h2>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="img/Rectangle 20 (6).png" alt="" width="305px" height="212px">
      .Lorem Ipsum is simply dummy text of the printing and typesetting
    </div>
    <div class="col-sm-3 text-center">
      <img src="img/Rectangle 20 (6).png" alt="" width="305px" height="212px">
      .Lorem Ipsum is simply dummy text of the printing and typesetting
    </div>
    <div class="col-sm-3 text-center">
      <img src="img/Rectangle 20 (6).png" alt="" width="305px" height="212px">
      .Lorem Ipsum is simply dummy text of the printing and typesetting
    </div> 
  </div>  -->

</body>