body{
    max-width: 100%;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-barcus{
    min-height: 87px;
background: #FFFFFF;
}

.nav-barcus2{ 
    border-bottom: 1px solid #BDBDBD;
}

.nav-linkpage{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;

color: #BDBDBD;
}

.navbar-inverse{
    background: #FFFFFF;
    border-color:#FFFFFF; 
    padding-left: 100px;
    top: 20px;
} 

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #0F4C81;
    background-color: #FFFFFF;
}

.active>a:hover{
    color: none;
}


.jv1{
    width: 344px;
    height: 84px;
    left: 548px;
    top: 909px;
    }

.contentheader{
    
font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;

color: #4F4F4F; 

}

.contentheader p{
    text-align: center;
}

.jv3{
    width: 705px;
    height: 438px;
    left: 0px;
    top: 1356px;
}

.jv3 h3{
font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;

text-align: center;
padding-right: 0px;
}

.contenttextcenter{
    max-width: 70%;
    padding-top: 100px;
    margin-left: 90px;
}

.contenttextcenter h3{
 line-height: 60px;
}

.jv4{
    max-width: 70%;
    padding-top: 105px;
    margin-left: 100px;
    padding-left: 0px;
}

.jv4 h3{
    line-height: 60px;
}

.av1{
    left: 20px;
}

.jv5{
  
    text-align: center;
    color: white;
    background-image:url("img/Rectangle 20 (5).png");
    background-size: 100% 100%;
}

.av2{
    margin-top: 15px;
}

.jv6{
    position: absolute;
    bottom: 200px;
    left: 100px;
    right: 100px;
    top: 200px;
}

.av3{
    left: 30px;
}



.line-footer{
    width:100%;
    height: 1px;
    border: 1px solid #BDBDBD;
    margin: 10px 0 30px;
}

.contentrow{
    margin-top: 100px;
}

.av4{
    border-style: groove;
    text-align: center;
}

.jv7{
    text-align: center;
    
}

.categories img{
        width: 100%;
}

.categories a {
	z-index: 1;
	padding: 20px 10px;
	text-align: center;
	position: absolute;
	margin-top: 15vh;
	background: #3a3a3a59;
	left: 0;
	right: 0;
	width: 168.91px;
	margin-left: auto;
	margin-right: auto;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
.categories a:hover {
	text-decoration: none;
}


.list-tag {
	padding: 0;
	text-align: justify;
}
.list-tag li {
	list-style-type: none;
	color: #828282;
	padding: 8px 10px;
	margin: 5px;
	display: inline-block;
	border: 1px solid #828282;
	box-sizing: border-box;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
 line-height: 130%;
}

.footer {
	text-align: center;
	border-top: 1px solid #BDBDBD;
	padding: 30px;
	font-family: PlayfairDisplay;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
    color: #4F4F4F;
    margin-top: 30px;
}
.btn-footer {
	border: 1px solid #E0E0E0;
	border-radius: 50%;
	padding: 6px 0;
	margin: 5px;
}

.btn-footer i {
    color: #828282;
    width: 30px;
    height: 30px;
}

