<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="lib/font-awesome-4.7.0/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="StyleHome.css"/>
<script type="text/javascript" src="lib/jQuery.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<title>Fashion Z-Home</title>
</head>
<body>
<div class="container-fluid">
  <div class="row navbarcustome">
    <div class="container">
      <div class="col-md-2 middle"> <img src="../../img/Asset 4 1.png" width="127.06px"/> </div>
      <div class="col-md-2 textnavbar middle"> <a href="Home" class="active">Home</a> </div>
      <div class="col-md-2 textnavbar middle"> <a>Hottrends</a> </div>
      <div class="col-md-2 textnavbar middle"> <a href="NewCollection">Newcollections</a> </div>
      <div class="col-md-2 textnavbar middle"> <a href="About">about</a> </div>
      <div class="col-md-2 middle">
        <div class="col-md-10 no-padding-rght"> </div>
        <div class="col-md-2 no-padding-left"> <a><i class="fa fa-search"></i></a> </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row headerpage">
      <div class="headerpage-divcover">
        <div class="header-textdump text-wrap text-center">
          <p class="playfair-display-upper">SUMMER COLLECTIONS</p>
          <p class="header-text-content"> Lorem Ipsum is simply dummy text of the printing and typesetting industry, Lorem Ipsum has been the industry's... </p>
          <div class="margin-top50"> <a class="read-more">Read More</a> </div>
        </div>
      </div>
    </div>
    <div class="row" id="SildeShow">
      <h2 class="text-center slider-caption">Trending post</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-4">
              <div class="col-md-12"><img src="img/Rectangle 15.png" alt="hottrend01" style="width:100%;"></div>
              <div class="col-md-12 slider-description text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p class="slider-description-date">On July 07, 2020</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12"><img src="img/Rectangle 16.png" alt="hottrend02" style="width:100%;" /></div>
              <div class="col-md-12 slider-description text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p class="slider-description-date">On July 07, 2020</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12"><img src="img/Rectangle 17.png" alt="hottrend03" style="width:100%;" /></div>
              <div class="col-md-12 slider-description text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p class="slider-description-date">On July 07, 2020</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-md-4">
              <div class="col-md-12"><img src="img/Rectangle 15 (1).png" alt="hottrend04" style="width:100%;"></div>
              <div class="col-md-12 slider-description text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p class="slider-description-date">On July 07, 2020</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12"><img src="img/Rectangle 16 (1).png" alt="hottrend05" style="width:100%;" /></div>
              <div class="col-md-12 slider-description text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p class="slider-description-date">On July 07, 2020</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12"><img src="img/Rectangle 17 (1).png" alt="hottrend06" style="width:100%;" /></div>
              <div class="col-md-12 slider-description text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p class="slider-description-date">On July 07, 2020</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-md-4">
              <div class="col-md-12"><img src="img/Rectangle 15 (2).png" alt="hottrend07" style="width:100%;"></div>
              <div class="col-md-12 slider-description text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p class="slider-description-date">On July 07, 2020</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12"><img src="img/Rectangle 16 (2).png" alt="hottrend08" style="width:100%;" /></div>
              <div class="col-md-12 slider-description text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p class="slider-description-date">On July 07, 2020</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12"><img src="img/Rectangle 17 (2).png" alt="hottrend09" style="width:100%;" /></div>
              <div class="col-md-12 slider-description text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p class="slider-description-date">On July 07, 2020</p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Trước</span> </a> <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Sau</span> </a> </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="col-md-12 no-padding-left box-item-main text-center">
          <p class="slider-description text-center datetimecontent">On July 07, 2020</p>
          <p class="text-center titlecontent">5 Days Of Simple Summer Looks</p>
          <img src="img/Rectangle 18.png" />
          <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</p>
          <button class="readmore">read more</button>
        </div>
        <div class="col-md-12 no-padding-left box-item-main text-center">
          <p class="slider-description text-center datetimecontent">On July 07, 2020</p>
          <p class="text-center titlecontent">The Chicest Summer Pants Under $100 that Feel like Sweats</p>
          <img src="img/Rectangle 18 (1).png" />
          <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</p>
          <button class="readmore">read more</button>
        </div>
        <div class="col-md-12 no-padding-left box-item-main last text-center">
          <p class="slider-description text-center datetimecontent">On July 07, 2020</p>
          <p class="text-center titlecontent">My Top 3 Favorite Things About Cody As A Mommy</p>
          <img src="img/Rectangle 18 (2).png" />
          <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</p>
          <button class="readmore">read more</button>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col-md-12 box-trend-post">
          <p class="title">recent posts</p>
          <div class="boxitem col-md-12 no-padding">
            <div class="col-md-6 no-padding"> <img src="img/Rectangle 20.png"/> </div>
            <div class="col-md-6 no-padding-rght">
              <p class="content"> Lorem Ipsum is simply dummy text of the printing and typesetting </p>
              <p class="daterelease">On July 13. 2020</p>
            </div>
          </div>
          <div class="boxitem col-md-12 no-padding">
            <div class="col-md-6 no-padding"> <img src="img/Rectangle 20 (1).png"/> </div>
            <div class="col-md-6 no-padding-rght">
              <p class="content"> Lorem Ipsum is simply dummy text of the printing and typesetting </p>
              <p class="daterelease">On July 13. 2020</p>
            </div>
          </div>
          <div class="boxitem col-md-12 no-padding">
            <div class="col-md-6 no-padding"> <img src="img/Rectangle 20 (2).png"/> </div>
            <div class="col-md-6 no-padding-rght">
              <p class="content"> Lorem Ipsum is simply dummy text of the printing and typesetting </p>
              <p class="daterelease">On July 13. 2020</p>
            </div>
          </div>
          <div class="boxitem col-md-12 no-padding">
            <div class="col-md-6 no-padding"> <img src="img/Rectangle 20 (3).png"/> </div>
            <div class="col-md-6 no-padding-rght">
              <p class="content"> Lorem Ipsum is simply dummy text of the printing and typesetting </p>
              <p class="daterelease">On July 13. 2020</p>
            </div>
          </div>
          <div class="boxitem col-md-12 no-padding">
            <div class="col-md-6 no-padding"> <img src="img/Rectangle 20 (4).png"/> </div>
            <div class="col-md-6 no-padding-rght">
              <p class="content"> Lorem Ipsum is simply dummy text of the printing and typesetting </p>
              <p class="daterelease">On July 13. 2020</p>
            </div>
          </div>
        </div>
        
        <!--Box Tag-->
        <div class="col-md-12 box-tags">
          <p class="title">Tags</p>
          <ul class="list-tag">
            <li>summer collection</li>
            <li>winter collection</li>
            <li>colorfull t-shirt</li>
            <li>personal style</li>
            <li>trip</li>
            <li>streets</li>
            <li>inspiration</li>
            <li>toe design cut-out</li>
            <li>purple</li>
            <li>review</li>
            <li>colorfull</li>
          </ul>
        </div>
        <!--End Box Tag --> 
        <!--Categories Tag-->
        <div class="col-md-12 box-categories">
          <p class="title">categories</p>
          <div class="col-md-12 no-padding">
            <div class="categoriesitems"> <img src="img/Rectangle 20 (5).png"/> <a>shopping</a> </div>
          </div>
          <div class="col-md-12 no-padding">
            <div class="categoriesitems"> <img src="img/Rectangle 21.png"/> <a>Wedding</a> </div>
          </div>
          <div class="col-md-12 no-padding">
            <div class="categoriesitems"> <img src="img/Rectangle 22.png"/> <a>Video</a> </div>
          </div>
        </div>
        <!--End Categories Tag --> 
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
     <div class="row">
                <div class="col-md-8 col-md-offset-1"></div>
            </div>
            <img class="logo-footer" src="img/Asset 4 1.png" />
            <h4 class="text-footer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</h4>
            <div class="text-center">
                <a class="btn-footer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="btn-footer"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a class="btn-footer"><i class="fa fa-behance" aria-hidden="true"></i></a>
            </div>
  </div>
</div>
</body>
</html>
