<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fashion Z</title>
    <link href="assets/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="assets/fonts/Lato/stylesheet.css" rel="stylesheet">
    <link href="assets/fonts/Playfair_Display/stylesheet.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/mystyle.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img class="img-logo" src="assets/images/logo.png" />
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-nav-custom">
                        <li><a href="Home">Home</a></li>
                        <li><a href="#">Hot trends</a></li>
                        <li  class="active"><a href="NewCollection">New collections</a></li>
                        <li><a href="About">about</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-nav-custom navbar-right">
                        <li>
                            <a href="#">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div>
    <div class="body">
        <div class="container">
            <div class="row m-b-50">
                <div class="box-fashion">
                    <h2>SHADOW PORTRAITS - DARK AMBIENT</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing ...</p>
                    <a class="btn-view">VIEW</a>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="assets/images/item1.png" />
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="assets/images/item2.png" />
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="assets/images/item3.png" />
                </div>
            </div>
            <div class="row m-b-50">
                <div class="box-fashion">
                    <h2>LONDON - Fashion</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing ...</p>
                    <a class="btn-view">VIEW</a>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="assets/images/item4.png" />
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="assets/images/item5.png" />
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="assets/images/item6.png" />
                </div>
            </div>
            <div class="row m-b-50">
                <div class="box-fashion">
                    <h2>SUMMER COLLECTION</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing ...</p>
                    <a class="btn-view">VIEW</a>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="assets/images/item7.png" />
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="assets/images/item8.png" />
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="assets/images/item9.png" />
                </div>
            </div>
            <div class="row m-b-50">
                <div class="col-md-12">
                    <h2 class="title-menu">recent posts</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box-recent">
                                <img class="img-responsive" src="assets/images/recent1.png" />
                                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
                                <p>On July 13. 2020</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="box-recent">
                                <img class="img-responsive" src="assets/images/recent2.png" />
                                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
                                <p>On July 13. 2020</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="box-recent">
                                <img class="img-responsive" src="assets/images/recent3.png" />
                                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
                                <p>On July 13. 2020</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="box-recent">
                                <img class="img-responsive" src="assets/images/recent4.png" />
                                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
                                <p>On July 13. 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-b-50">
                <div class="col-md-6">
                    <h2 class="title-menu">tags</h2>
                    <ul class="list-tag">
                        <li>summer collection</li>
                        <li>winter collection</li>
                        <li>colorfull t-shirt</li>
                        <li>personal style</li>
                        <li>trip</li>
                        <li>streets</li>
                        <li>inspiration</li>
                        <li>toe design cut-out</li>
                        <li>purple</li>
                        <li>review</li>
                        <li>colorfull</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2 class="title-menu">categories</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-responsive" src="assets/images/categories1.png" />
                            <h5 class="text-categories">Shopping</h5>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-responsive" src="assets/images/categories2.png" />
                            <h5 class="text-categories">Wedding</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-1"></div>
            </div>
            <img class="logo-footer" src="assets/images/logo.png" />
            <h4 class="text-footer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</h4>
            <div class="text-center">
                <a class="btn-footer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="btn-footer"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a class="btn-footer"><i class="fa fa-behance" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <script href="assets/bootstrap-3.3.7/dist/js/bootstrap.min.js" rel="stylesheet"></script>
</body>
</html>